<html>
  <head>
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/todo.css">
  </head>
  <body>
    
    <div class="add">
      <h2>Add Todo</h2>
      <form action='/todo' method='POST'>
        <input type='text' name='content'>
        <input type='submit' value='add'>
      </form>
    </div>

    <div class="list">
      <h2>Todo List</h2>
      <ol>
        <% for (const todo of todos) { %>
          <li>
            <div class="elements">
            <input class="content" type="text" readonly name="content" data-edit-id=<%= todo.id %> value="<%= todo.content %>">
              <button class="edit">Edit</button>
              <button class="delete" data-delete-id=<%= todo.id %>>Delete</button>
              
          </div>
          </li>
        <% } %>
      </ol>
    </div>
  </body>
</html>
